<div class="row">
  <div id="profile" class="container d-flex justify-content-center">
    <img src="/assets/profile.jpg" width="200px" height="200px">
  </div>
  <div>
    <p></p>
  </div>
  <div id="header" class="container d-flex justify-content-center">
    <h1>{{username}}</h1>
  </div>
  <div id="firstname" class="container d-flex justify-content-center">
    <p>{{firstname}}</p>
  </div>
  <div id="surname" class="container d-flex justify-content-center">
    <p>{{surname}}</p>
  </div>
</div>
<div class="row">
  <div class="container d-flex justify-content-center">
      <button id="update" class="btn btn-primary" (click)="logoutUser()">log out</button>
  </div>
</div>
<div class="row">
  <div class="container d-flex justify-content-center">
    <button id="update" class="btn btn-primary" (click)="moveUpdate()">Update</button>
    <button id="delete" class="btn btn-primary" (click)="deleteUser()">Delete</button>
  </div>
</div>
<footer id="credits" class="">Image by <a
    href="https://pixabay.com/users/VinnyCiro-219264/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=321222">Vincent
    Ciro</a> from <a
    href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=321222">Pixabay</a>
</footer>
