<form [formGroup]='registration'>
  <div class="col-1-2">
    <label>Username:</label>
    <input id="username" formControlName="username" placeholder="username">
    <br>
    <label>First Name:</label>
    <input id="firstName" formControlName="firstName" placeholder="first name">
    <br>
    <label>Surname:</label>
    <input id="surname" formControlName="surname" placeholder="surname">
    <br>
    <label>Password:</label>
    <input id="password" formControlName="password">
    Passwords have a mi
    <br>
  </div>
  <div class="col-1">
  <input type="button" value="submit" (click)="onSubmit()">
</div>
</form>
