<form [formGroup]='registration'>
  <div class="container d-flex justify-content-center">
    <label>Username:</label>
    <input id="username" formControlName="username" placeholder="username">
  </div>
  <div>
    <br>
  </div>
  <div class="container d-flex justify-content-center">
    <label>First Name:</label>
    <input id="firstName" formControlName="firstName" placeholder="first name">
  </div>
  <div>
    <br>
  </div>
  <div class="container d-flex justify-content-center">
    <label>Surname:</label>
    <input id="surname" formControlName="surname" placeholder="surname">
  </div>
  <div>
    <br>
  </div>
  <div class="container d-flex justify-content-center">
    <input type="button" value="submit" (click)="onRegister()">
  </div>
</form>
