
<app-menu></app-menu>
<router-outlet></router-outlet>
<div>
  <!-- <app-menu></app-menu> -->
</div>
<footer>
    <div class="fixed-bottom">
   <p>Image by <a href="https://pixabay.com/users/PublicDomainImages-327722/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=386824">PublicDomainImages</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=386824">Pixabay</a>, Image by <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=25638">
      Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=25638">Pixabay</a>
    </p> 
    </div>
  </footer>